/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.rnd
/avatars/
/public/avatars/
/public/fragments/
/public/avatars
/public/fragments
/public/fragments-fons
/public/lessons-fons
docker-compose.yml
docker
